**This code is based on the example2 (see example2 in the documentation [here](https://diw-evu.gitlab.io/dieter_public/dieterpy))**

In [1]:
import pickle
import gzip
import glob

In [2]:
# Our notebook is located in the main project folder
reportingfiles = glob.glob('project_files/report_files/*.*')
reportingfiles[:5]

['project_files/report_files/STO_IN.v.pkl.gz',
 'project_files/report_files/c_infes.v.pkl.gz',
 'project_files/report_files/N_RSVR_P.v.pkl.gz',
 'project_files/report_files/G_RES.v.pkl.gz',
 'project_files/report_files/N_RSVR_E.v.pkl.gz']

In [3]:
# We extract only the value column of the symbol in the file STO_IN.v.pkl.gz 
# as the symbol name is followed by .v
# other option are 'm' for marginal, 'l' for lower bound and 'u' for upper bound for GAMS Variables.
# parameters only have Val
reportingfiles[0]

'project_files/report_files/STO_IN.v.pkl.gz'

In [4]:
# we will open the first one: reportingfiles[0]
with gzip.open(reportingfiles[0]) as f:
    dc = pickle.load(f)

In [5]:
dc.keys()

dict_keys(['dims', 'type', 'symb_desc', 'symbol', 'v', 'scen', 'loop', 'modifiers'])

In [6]:
dc['symbol']

'STO_IN'

In [7]:
dc['symb_desc']

'Storage inflow technology sto hour h [MWh]'

In [8]:
dc['dims']

['n', 'sto', 'h']

In [9]:
# id is a short name of a scenario. 'v' represent Val
# it is also available 'm', 'l', and 'u', but first the corresponding file must be created 
dc['v']

         id  symbol   n     sto     h         Val
0      S000  STO_IN  DE  Li-ion     1    0.000059
1      S000  STO_IN  DE  Li-ion     2  220.634419
2      S000  STO_IN  DE  Li-ion     3  260.351891
3      S000  STO_IN  DE  Li-ion     4  340.198929
4      S000  STO_IN  DE  Li-ion     5  679.208690
...     ...     ...  ..     ...   ...         ...
52555  S003  STO_IN  FR     PHS  8756    0.000030
52556  S003  STO_IN  FR     PHS  8757    0.000056
52557  S003  STO_IN  FR     PHS  8758    0.000057
52558  S003  STO_IN  FR     PHS  8759    0.000029
52559  S003  STO_IN  FR     PHS  8760    0.000029

[210240 rows x 6 columns]

In [10]:
dc['scen']

{'Run_000_20210315221115_b00_r000': 'S000',
 'S000': 'Run_000_20210315221115_b00_r000',
 'Run_001_20210315221115_b00_r001': 'S001',
 'S001': 'Run_001_20210315221115_b00_r001',
 'Run_002_20210315221115_b00_r002': 'S002',
 'S002': 'Run_002_20210315221115_b00_r002',
 'Run_003_20210315221115_b00_r003': 'S003',
 'S003': 'Run_003_20210315221115_b00_r003'}

In [11]:
dc['loop']

["phi_min_res('FR')",
 'country_set',
 'constraint_minRES',
 'long_id',
 'constraint_carbon',
 "phi_min_res('DE')",
 'solver_msg']

In [12]:
dc['modifiers']

{'S000': {"phi_min_res('FR')": 0.4,
  'country_set': 'DE,FR',
  'constraint_minRES': 'rescon_0a',
  'long_id': 'Run_000_20210315221115_b00_r000',
  'constraint_carbon': 'max_node_CO2',
  "phi_min_res('DE')": 0.5,
  'solver_msg': 'LP status(1): optimal'},
 'S001': {"phi_min_res('FR')": 0.5,
  'country_set': 'DE,FR',
  'constraint_minRES': 'rescon_0a',
  'long_id': 'Run_001_20210315221115_b00_r001',
  'constraint_carbon': 'max_node_CO2',
  "phi_min_res('DE')": 0.6,
  'solver_msg': 'LP status(1): optimal'},
 'S002': {"phi_min_res('FR')": 0.6,
  'country_set': 'DE,FR',
  'constraint_minRES': 'rescon_0a',
  'long_id': 'Run_002_20210315221115_b00_r002',
  'constraint_carbon': 'max_node_CO2',
  "phi_min_res('DE')": 0.7,
  'solver_msg': 'LP status(1): optimal'},
 'S003': {"phi_min_res('FR')": 0.7,
  'country_set': 'DE,FR',
  'constraint_minRES': 'rescon_0a',
  'long_id': 'Run_003_20210315221115_b00_r003',
  'constraint_carbon': 'max_node_CO2',
  "phi_min_res('DE')": 0.8,
  'solver_msg': 'LP status(1): optimal'}}